@using Microsoft.AspNet.Identity
@model OrdersPortal.Application.Models.ManageUserViewModel

<p>Ви зайшли як користувач <strong>@User.Identity.GetUserName()</strong>.</p>

<div class="row">
	<div class="col-12 col-md-9 col-lg-6 col-xl-4">

		@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
		{
			@Html.AntiForgeryToken()
			<h4>Зміна паролю</h4>
			<hr />
			@Html.ValidationSummary()
			<div class="form-group pt-2">
				@Html.LabelFor(m => m.OldPassword, new { @class = "col-8 control-label" })
				<div class="col-12">
					@Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group pt-2">
				@Html.LabelFor(m => m.NewPassword, new { @class = "col-8 control-label" })
				<div class="col-12">
					@Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group pt-2">
				@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-8 control-label" })
				<div class="col-12">
					@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
				</div>
			</div>

			//------------------------------------------------------------------
			<div class="row justify-content-between pt-4">

				<div class="col-6">
					<input id="addButton" type="submit" class="btn btn-success" value="Зберегти" />
				</div>

				<div class="col-6">
					<input id="cancelButton" type="button" class="btn btn-secondary float-right" onclick="CancelButtonClick()" value="Відмінити" />
				</div>

			</div>
		}
	</div>
</div>
<script>

	function CancelButtonClick() {

		location.href = "/Home/Index";
	}
</script>