@model OrdersPortal.Application.Models.ChangeUserPasswordViewModel
@{
    ViewBag.Title = "Зміна пароля користувача";    
}

<div class="row">
	<div class="col-12 col-md-9 col-lg-6 col-xl-4">

		@using (Html.BeginForm("ChangeUserPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
		{
			@Html.AntiForgeryToken()
			<h4>Змінити пароль користувача @Model.UserName</h4>
			<hr />
			@Html.ValidationSummary()
    
			@Html.HiddenFor(m => m.UserId)
			<div class="form-group pt-2">
				@Html.LabelFor(m => m.NewPassword, new { @class = "col-8 control-label" })
				<div class="col-12">
					@Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group pt-2">
				@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-8 control-label" })
				<div class="col-12">
					@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
				</div>
			</div>

			//------------------------------------------------------------------
			<div class="row justify-content-between pt-4">

				<div class="col-6">
					<input id="addButton" type="submit" class="btn btn-success" value="Зберегти" />
				</div>

				<div class="col-6">
					<input id="cancelButton" type="button" class="btn btn-secondary float-right" onclick="CancelButtonClick()" value="Відмінити" />
				</div>

			</div>
		}

		@section Scripts {
			@Scripts.Render("~/bundles/jqueryval")
		}
	</div>

</div>
<script>

	function CancelButtonClick() {

		location.href = "/Account/UsersList";
	}
</script>